*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: 'Oswald' , sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
 color: #545050;
}

.content {
  display: flex;
  width: 1140px;
  gap: 30px;
  align-items: end;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
}

.search-form__textfield {
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  width: 225px;

}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after  {
  opacity: 1;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__fieldset {
  border: none;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.more-button {
  height: 34px;
  width: 100%;
}

.content__details {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.content__list-container {
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 390px;
}

.content__list-item {
  width: 100%;
  padding: 0px 3px;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
  width: 100%;

}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  line-clamp: 4;
}

.title {
  margin-bottom: 26px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__card-link_current {
  background-color: transparent;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.result__video-container {
  position: relative;
}

.content__list-container {
  position: relative;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

